{% extends 'base.twig' %}

{% block content %}
    <div class="row">
    {% for gt,pools in results.votes %}
        <div class="col-xs-12 col-sm-6">
            {% if loggedIn %}
            <form action="/vote" method="post">
                <input type="hidden" name="gametype" value="{{ gt }}" />
            {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if gt == 'special' %}
                        Preferred map version
                        {% else %}
                        {{ gt }}
                        {% endif %}
                        {% if loggedIn %}<button type="submit" class="btn btn-primary btn-xs pull-right" >Save my vote!</button>{% endif %}
                    </div>
                    <div class="panel-body">
                        {% if loggedIn %}<div class="alert alert-info">You can vote only once!</div>{% endif %}

                        {% for pool,maps in pools %}
                            {{ block('container_default') }}
                        {% endfor %}
                    </div>
                </div>
            {% if loggedIn %}
            </form>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block container_default %}
    <p class="lead text-center">{% if pool == 0 %}Pick 4{% else %}New maps: pick 3{% endif %}</p>
    {% for map in maps %}
        {% set perc = ((map.score * 100)/results.sum[gt][pool])|round(2) %}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <label>
                    {% if loggedIn %}
                        {{ block('input') }}
                    {% endif %}
                    {{ map.map }}
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ perc }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ perc }}%;"></div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block input %}
<input type="{% if gt == 'special' %}radio{% else %}checkbox{% endif %}" name="maps[{{ pool }}][]" value="{{ map.id }}" />
{% endblock %}
